@import url('http://fonts.cdnfonts.com/css/source-sans-pro');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffa600;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
}

h1, h2 {
    font-weight: 100;
    font-size: 2.5rem;
}

#tens, #seconds, #minutes {
    font-size: 2rem;
}

button {
    border: 1px solid #ffffff;
    background-color: #ffa600;
    color: #ffffff;
    outline: none;
    padding: 1rem 0.8rem;
    margin: 0.8rem;
    width: 180px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

.flex {
    display: flex;
}